@font-face {
	font-family: 'BebasNeue_Light';
    src: url('../fonts/BebasNeue Light.otf');
} 

@font-face {
	font-family: 'BebasNeue_Regular';
    src: url('../fonts/BebasNeue Regular.otf');
} 

@font-face {
	font-family: 'BebasNeue_Thin';
    src: url('../fonts/BebasNeue Thin.otf');
} 

@font-face {
	font-family: 'BebasNeue_Bold';
    src: url('../fonts/BebasNeue Bold.otf');
} 

@font-face {
	font-family: 'Roboto_Light';
    src: url('../fonts/Roboto-Light.otf');
} 