$black: #262626;
$orange: #ff6033;
$white: #fff;
$green_blue: #00b3b3;
$blue: #70bfff;
$yellow: #ffe92f;
$blue_btn: #5585a2;
$green_btn: #96b92c;
$violet: #b07cf7;
$red_btn: #f72b3b;
$blue_form: #00c4c4;
$background_white: #f9f8fb;