* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes custom-animate {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(10px) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}

/*MAIN-SECTION*/
.main-section {
  background: url('./../img/hero-bg.jpg') center no-repeat;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  position: relative;
}
.main-section__logo {
  margin-bottom: 80px;
}
.main-section__title {
  color: #fff;
  font-size: 54px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.main-section__title-bottom {
  margin-bottom: 50px;
}
.main-section__subtitle {
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  line-height: 27px;
}
.main-section__btn {
  width: 22px;
  height: 36px;
  border: 1px solid #fff;
  border-radius: 11px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}
.main-section__btn:hover {
  border-color: #896c81;
}
.main-section__btn:hover .main-section__btn-animate {
  background-color: #896c81;
}
.main-section__btn-animate {
  display: inline-block;
  width: 2px;
  height: 7px;
  background-color: #fff;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  animation: custom-animate 4s infinite;
}

/*ABOUT*/
.about {
  min-height: 50vh;
  background-color: #fff;
  padding: 60px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border: 2px solid #333;
  padding: 50px 180px;
  position: relative;
}
.about__title {
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  padding: 0 100px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-50%);
}
.text {
  font-size: 16px;
  text-align: center;
  line-height: 25px;
}

/*SERVICES*/
.services {
  min-height: 50vh;
  background: url(../img/services.jpg) center no-repeat;
  padding: 60px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.services__container{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border: 2px solid #fff;
  padding: 50px 180px;;
  position: relative;
}
.services__title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 0.16em;
  background-color: transparent;
  padding: 0 100px;
}
.services__text {
  color: #fff;
}

/*WHATWEDO*/
.whatwedo {
  min-height: 100vh;
  background-color: #fff;
  padding: 60px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.whatwedo__container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border: 2px solid #333;
  padding: 50px;
  position: relative;
}
.whatwedo__title {
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  padding: 0 80px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-50%);
}
.whatwedo__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 170px;
}
.whatwedo__item--icon {
  font-size: 80px;
}
.whatwedo__item--title {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.16em;
  padding: 25px 0;
  font-weight: bold;
}

/*PORTFOLIO*/
.portfolio {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
}
.portfolio__item {
  width: 25%;
  height: 234px;
  border-right: 9px solid #fff;
  border-bottom: 9px solid #fff;
  position: relative;
  cursor: pointer;
}
.portfolio__item:hover {
  opacity: 0.7;
}
.portfolio__item:nth-of-type(3n + 3) {
  border-right: none;
}
.portfolio__item--large {
  width: 50%;
}
.portfolio__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__label {
  position: absolute;
  left: 30px;
  bottom: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.16em;
}

/*CONTACT*/
.contact {
  min-height: 50vh;
  background-color: #fff;
  padding: 60px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contact__container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border: 2px solid #333;
  padding: 50px 180px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__title {
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  padding: 0 80px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-50%);
}
.contact__text {
  margin-bottom: 40px;
}
.contact__btn {
  height: 60px;
  width: 400px;
  background-color: #3c3c3c;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  cursor: pointer;
}
.contact__btn:hover {
  border: 4px solid #3c3c3c;
  color: #3c3c3c;
  background-color: #fff;
}

/*FOOTER*/
.footer {
  min-height: 150px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer__logo {
  margin-right: 50px;
}
.footer__text {
  font-size: 16px;
}
.footer__link a {
  color: inherit;
  text-decoration: none;
}
.footer__link a:hover {
  text-decoration: underline;
}


@media (max-width: 1100px) {
  .portfolio {
    flex-direction: column;
  }
  .portfolio__item,
  .portfolio__item--large {
    width: 100%;
  }
}
