@font-face {
    font-family: MyriadPro-Regular; /* Имя шрифта */
    src: url(../fonts/MyriadPro-Regular.otf); /* Путь к файлу со шрифтом */
}

body {
  margin: 0;
  color: #191970;
  font-family: MyriadPro-Regular;
  background-color: #E8E5FD;
}

/*HEADER*/
header {
  text-align: center;
  background-color: #0B0248;
  color: white;
  padding: 10px 0;
  font-size: 20px;
}
header .image {
  margin: auto;
  width: 190px;
}

/*MAIN*/
main {
  margin: 0 50px;
}
main h2,
section:nth-child(2n){
  color: black;
}
.lang li {
  font-style: italic;
}

/*FOOOTER*/
footer {
  text-align: center;
  background-color: #0B0248;
  color: white;
  position: relative;
  padding: 5px 0;
}
.social {
  margin: auto;
  width: 185px;
}
footer img {
  width: 70px;
}
footer a:last-child {
  margin-left: 20px;
}
.copy {
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin-right: 20px;
}
